# moose result files, cache/tmp files and big input files
*_out.csv
*_out_*.csv
*_out*.e
.jitcache
*.msh

# uq files
sample*
launcher.sh
uq_log*.json

# system files
*.swp
run_case1_thermomechanicalcube/uq_log.json
