# moose result files, cache/tmp files and big input files
*_out.csv
*_out_*.csv
*_out*.e
.jitcache
*.msh
*.e
*.png
*.cub5

dev*

# uq files
sample*
launcher.sh
uq_log*.json

clean.sh
Allrun.sh

# system files
*.swp
uq_log.json
launch.json
__pycache__
.vscode
